<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <include href="views/navbar.html"></include>
    <div class="d-flex justify-content-around bg-success p-4">
        <a href="">Account</a>
        <check if="{{ @details instanceof ProUser }}">
            <a href="creations">Creation</a>
        </check>
    </div>

    <ul class="list-group bg-dark p-5">
        <li class="list-group-item bg-dark">Username:  {{ @details->getUsername() }}</li>
        <li class="list-group-item bg-dark">Name:  {{ @details->getFname() }}</li>
        <li class="list-group-item bg-dark">Age:  {{ @details->getAge() }}</li>
        <li class="list-group-item bg-dark">Grade:  {{ @details->getGrade() }}</li>
        <check if="{{ @details instanceof ProUser }}">
            <li class="list-group-item bg-dark">Subject: {{ @details->getSubject() }}</li>
        </check>
        <li class="list-group-item bg-dark"><a href="changePassword" class="btn btn-danger">Change Password</a></li>
    </ul>


</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>