<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm" >
        <div class="container">
            <!-- logo -->
            <a href="{{@BASE}}" class="navbar-brand text-white" id="logo"><strong>Kids Learn</strong></a>
            <!-- Menu Bar -->
            <button class="navbar-toggler navbar-dark" type="button"
                    data-toggle="collapse" data-target="#myTogglerNav"
                    aria-controls="myTogglerNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myTogglerNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link text-white" href="{{@BASE}}">Home</a>
                    <a class="nav-item nav-link text-white" href="learn">Learn</a>
                    <a class="nav-item nav-link text-white" href="signIn">Sign In</a>
                </div><!-- navbar -->
            </div><!-- collapse -->
        </div><!-- container -->
    </nav>


    <div class="container">
        <!-- Use Repeat tag and get info from database-->
        <div class="row">
            <div class="col-3  col-sm-5 ">
                <img src="" alt="">
            </div>
            <div class="col-9 col-sm-7">
                <h2>Name of Animal</h2>
                <h2>Description:</h2>
            </div>
        </div>
    </div>

    <div>
        <a href="{{ @BASE }}" class="button links"><p class="blue">Go Home</p></a>
    </div>



</div>

<div>
    @Sezyl
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>