<!DOCTYPE html>
<!--
 * Blezyl Santos and Sarah Mehri
 * Kids Learn Website - changePassword.html
 * Version 1.0
 * Display the form for changing the password
 *
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <!-- Navigation bar -->
    <include href="views/navbar.html"></include>
    <div class="mx-auto mt-5 p-5 grey w-50 w-sm-100">
        <h1>Change Password</h1>
        <hr>
        <form action="#" method="post">
            <div>
                <label for="pw">New Password</label>
                <input type="password" class="form-control" name="pw" id="pw" aria-describedby="pw" placeholder="Enter Password">
            </div>
            <div>
                <label for="cpw">Confirm Password</label>
                <input type="password" class="form-control" name="cpw" id="cpw" aria-describedby="cpw" placeholder="Confirm Password">
            </div>
            <span class="text-success"><check if="{{ isset(@success) }}">
                            {{ @success }}
                        </check></span>
            <span class="text-danger"><check if="{{ isset(@errors) }}">
                            {{ @errors }}
                        </check></span>
            <br>
            <a href="signIn" class="btn blue">Back</a>
            <check if="{{ !isset(@success) }}">
                <button type="submit" class="btn blue">Submit</button>
            </check>

        </form>
    </div>
</div>

<br><br>
<div class="justify-content-center align-self-center text-center d-flex">
    <br>
    <h6>@Sezyl</h6>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>