<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body onload="init()">
<div class="container text-white">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm" >
        <div class="container">
            <!-- logo -->
            <a href="{{ @BASE }}" class="navbar-brand text-white" id="logo"><strong>Kids Learn</strong></a>
            <!-- Menu Bar -->
            <button class="navbar-toggler navbar-dark" type="button"
                    data-toggle="collapse" data-target="#myTogglerNav"
                    aria-controls="myTogglerNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{@BASE}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{@BASE}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="shapes">Learn Shapes</a>
                            <a class="dropdown-item" href="animals">Learn Animals</a>
                            <a class="dropdown-item" href="fruits">Learn Fruits</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signIn">Sign In</a>
                    </li>
                </ul>
            </div>
        </div><!-- container -->
    </nav>
    <div class="container gold p-3"><h1>Create </h1></div>

    <div class="container grey p-5">
        <div class="text-center">
            <h2 class="p-3">Draw a Shape, Animal, or Fruits</h2>
            <hr>
            <h4>Draw, download, and upload the file!</h4>
            <h4>or upload any image you'd like</h4>
        </div>

        <div class="row">
            <canvas id="can" class="m-2"></canvas>

            <div class="col text-center d-inline-block">
                <div>Choose Color</div>
                <div class="row px-5 justify-content-center">
                    <div class="color" id="green" onclick="color(this)"></div>
                    <div class="color" id="blue" onclick="color(this)"></div>
                    <div class="color" id="red" onclick="color(this)"></div>
                </div>
                <div class="row px-5 justify-content-center">
                    <div class="color" id="yellow" onclick="color(this)"></div>
                    <div class="color" id="orange" onclick="color(this)"></div>
                    <div class="color" id="black" onclick="color(this)"></div>
                </div>
                <div>Eraser</div>
                <div class="row px-5 py-1 justify-content-center">
                    <div class="color" id="white" onclick="color(this)"></div>
                </div>
                <button class="btn btn-secondary" id="btn" onclick="save()">Save</button>
                <button class="btn btn-secondary" id="clr" onclick="erase()">Clear</button>
            </div>
            <div class="col justify-content-center p-0 m-2">
                <a download href="" title="ImageName" id="downloadable">
                    <img id="canvasimg" style="display:none;">
                </a>
            </div>
        </div>
            <form action="#" method="post" enctype="multipart/form-data">

                <br>
                <h5>Upload your Profile Picture!</h5>
                <div class="row m-3">
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <br>
                    <span class="text-danger"><check if="{{ isset(@errors['pics']) }}">
                    {{ @errors['pics'] }}
                </check></span>
                </div>
                <div class="row">
                    <div class="col-9">
                    </div>
                    <div class="col-3 align-self-end">
                        <button class="form-control btn btn-danger" type="submit" value="Next">Next ></button>
                    </div>
                </div>
            </form>


        <br>

    </div>



</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="scripts/canvas.js"></script>
<script>

</script>

</body>
</html>