<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <include href="views/navbar.html"></include>
    <div class="d-flex justify-content-around bg-success p-4">
        <a href="account">Account</a>
        <a href="creations">Creation</a>
    </div>

    <div>
        <!-- Use Repeat tag and get info from database-->
        <repeat group="{{ @creations }}" value="{{ @create }}">
            <div class="row p-3">
                <div class="col-3 col-sm-5 ">
                    <img src="{{ @create['image'] }}" alt="{{ @create['name'] }}">
                </div>
                <div class="col-9 col-sm-7">
                    <h2>{{ @create['name'] }}</h2>
                    <h5>Type: <br>{{ @create['object'] }}</h5>
                    <h5>Description: <br> {{ @create['description'] }}</h5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ @create['name'] }}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ @create['name'] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" >Delete {{ @create['name'] }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <a type="button" class="btn btn-danger" name="delete" href="delete/{{@create['create_id']}}">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </repeat>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
    function deleteCreation(id){
        $.post("model/data-layer.php->get")
    }

</script>
</body>
</html>