<nav class="navbar navbar-expand-sm" >
    <div class="container">
        <!-- logo -->
        <a href="/" class="navbar-brand text-white" id="logo"><strong>Kids Learn</strong></a>
        <!-- Menu Bar -->
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#myTogglerNav"
                aria-controls="myTogglerNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myTogglerNav">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-white" href="{{@BASE}}">Home</a>
                <a class="nav-item nav-link text-white" href="learn">Learn</a>
                <a class="nav-item nav-link text-white" href="signIn">Sign In</a>
            </div><!-- navbar -->
        </div><!-- collapse -->
    </div><!-- container -->
</nav>