<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm" >
        <div class="container">
            <!-- logo -->
            <a href="{{ @BASE }}" class="navbar-brand text-white" id="logo"><strong>Kids Learn</strong></a>
            <!-- Menu Bar -->
            <button class="navbar-toggler navbar-dark" type="button"
                    data-toggle="collapse" data-target="#myTogglerNav"
                    aria-controls="myTogglerNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{@BASE}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{@BASE}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="shapes">Learn Shapes</a>
                            <a class="dropdown-item" href="animals">Learn Animals</a>
                            <a class="dropdown-item" href="fruits">Learn Fruits</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signIn">Sign In</a>
                    </li>
                </ul>
            </div>
        </div><!-- container -->
    </nav>


    <div class="mx-auto mt-5 p-5 grey w-50 w-sm-100">
        <h1>Sign In!</h1>
        <hr>
        <form action="#" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <span class="text-danger"><check if="{{ isset(@errors['user']) }}">
                            {{ @errors['user'] }}
                        </check></span>
            <a href="signUp" class="btn blue">Sign Up</a>
            <button type="submit" class="btn blue">Sign In!</button>
        </form>
    </div>
</div>

<br><br>
<div class="justify-content-center align-self-center text-center d-flex">
    <br>
    <h6>@Sezyl</h6>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>