<!DOCTYPE html>
<!--
 * Blezyl Santos and Sarah Mehri
 * Kids Learn Website - signUpPro.html
 * Version 1.0
 * Display the Sign up pro user form
 *
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="styles/style.css">
    <title>Kid's Learn!!</title>

</head>
<body>
<div class="container text-white">
    <!-- Navigation bar -->
    <include href="views/navbar.html"></include>
    <div class="mx-auto mt-5 p-5 grey w-50 w-sm-100">
        <h1>Sign Up ProUser!</h1>
        <hr>
        <form action="#" method="post" id="pro">
            <div class="form-group">
                <label for="subject">What is your favorite subject?</label>
                <input type="text" class="form-control" name="subject" id="subject" aria-describedby="subject" placeholder="Enter Subject" value="">
                <span class="d-none text-danger" id="errSubject">Please enter a Subject (math, english, science, history, business, social studies, psychology, economics, art, theater, music, language arts, home economics)</span>
            </div>
            <span class="text-danger"><check if="{{ isset(@errors['subject']) }}">
                            {{ @errors['subject'] }}
                </check></span>
            <br>
            <button type="submit" class="btn blue">Sign Up!</button>
        </form>
    </div>
</div>

<br><br>
<div class="justify-content-center align-self-center text-center d-flex">
    <br>
    <h6>@Sezyl</h6>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="scripts/validationSubject.js"></script>
</body>
</html>