body{
    /*background-image: url('../images/bg.jpg');*/

    background-size: 100%;
    color: black !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}
.navbar{
    background: #EBACBD;
}

.button{
    padding: 20px 100px;
}

.pink{
    background: #EBACBD;
}
.pink:hover{
    background: white;
}

.blue{
    background: #092E6D;
}
.blue:hover{
    background: white;
}
.grey{
    background: darkgrey;
}
.gold{
    background: gold;
}
.color{
    width: 20px;
    height: 20px;
}
#green{
    background: green;
}
#blue{
    background: blue;
}
#red{
    background: red;
}
#yellow{
    background: yellow;
}
#orange{
     background: orange;
 }
#black{
    background: black;
}
#white{
    background: white;
    border: 1px black solid;
}
#can{
    background: white;
    border: 1px black solid;
    width:300px;
    height:150px;
}
#end{
    bottom:0
}
.btn{
    color: white;
    margin: auto;
}
a.d-flex{
    font-size: xx-large;
}
a{
    color: white;
}

.row{
    color:black;
}
.image-list {

    display: block;
    width: 200px;
    height: auto;

}
.image-styles {

    -webkit-border-radius: 5px;
    border-radius: 5px;

}
